.section {
  margin: 0px 25px;
}
.sectionHeader {
  display: flex;
  justify-content: space-between;
}
.showAllButton {
  background-color: var(--color-black);
  border: 0px;
  color: var(--color-primary);
  cursor: pointer;
  transition: ease-in-out;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 18px;
}
