@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@500&family=Secular+One&display=swap");

.giveFeedback {
  border-radius: 10px;
  width: 170px;
  height: 40;
  color: var(--color-primary);
  background: var(--color-black);
  font-family: "Poppins", sans-serif;
}
