.container {
  width: 570;
  overflow: hidden;
  display: flex;
}
.search {
  width: 502px;
  height: 48px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid var(--color-black);
  border-right: 0px;
}
.search:focus {
  outline: none;
}
.searchButton {
  width: 66px;
  height: 48px;
  border: 1px solid var(--color-black);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
  background-color: var(--color-white);
  padding-top: 14px;
  padding-bottom: 14px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.searchIcon {
  width: 20px;
  height: 20px;
}
